h1 {
    font-family: Varela Round;
    font-weight: 400;
}
h2, h3 {
    font-family: Varela Round;
    font-weight: 400;
}
p {
    font-family: Sarabun;
    font-weight: 400;
}
head {
    background-color: #9F02F2;
}
body{
    background-color: #F5F5F5;
}
